<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <img id="backgroundImage" src="../../assets/imagenes/Sprinkle (2).svg" alt="">
  <ion-row id="row" class="ion-justify-content-center">
    <ion-col size="9" class="ion-align-items-center">
    
      <ion-row id="row1" class="ion-justify-content-center">
        <ion-img src="../../../assets/imagenes/duoc.png"></ion-img>
      </ion-row>
    
      <form (ngSubmit)="registrarUsuario()">   
    
        <div *ngIf="currentStep === 1">
          
          <ion-row id="row2" class="ion-justify-content-center">
            <ion-input color="ligth" [(ngModel)]="usuario.nombre" id="nombre" name="nombre" label="Nombre" label-placement="floating" fill="outline" placeholder="Ingrese su nombre"></ion-input>
          </ion-row>

          <ion-row id="row3" class="ion-justify-content-center">
            <ion-input color="ligth" [(ngModel)]="usuario.apellido" id="apellido" name="apellido" label="Apellido" label-placement="floating" fill="outline" placeholder="Ingrese su apellido"></ion-input>
          </ion-row>
          
          <ion-row id="row4" class="ion-justify-content-center">
            <ion-input color="ligth" [(ngModel)]="usuario.rut" id="rut" name="rut" label="RUT" label-placement="floating" fill="outline" placeholder="Ingrese su RUT"></ion-input>
          </ion-row>

        </div>
        
        <div *ngIf="currentStep === 2">

          <ion-row id="row5" class="ion-justify-content-center">
            <ion-input color="ligth" [(ngModel)]="usuario.carrera" id="carrera" name="carrera" label="Carrera" label-placement="floating" fill="outline" placeholder="Ingrese su carrera"></ion-input>
          </ion-row>
          
          <ion-list id="list1" class="ion-justify-content-center">
            <ion-select color="ligth" [(ngModel)]="usuario.region" id="region" name="region" label="Region" label-placement="floating" fill="outline" placeholder="Seleccione Región" (ionChange)="seleccionarRegion()">
              <ion-select-option *ngFor="let region of listadoRegiones" [value]="region.region">{{region.region}}</ion-select-option>
            </ion-select>
          </ion-list>
          
          <ion-list id="list2" class="ion-justify-content-center">
            <ion-select color="ligth" [(ngModel)]="usuario.comuna" id="comuna" name="comuna" label="Comuna" label-placement="floating" fill="outline" placeholder="Seleccione Comuna">
              <ion-select-option *ngFor="let comuna of listadoComunas" [value]="comuna">{{comuna}}</ion-select-option>
            </ion-select>
          </ion-list>

        </div>
          
        <div *ngIf="currentStep === 3">  

          <ion-row id="row6" class="ion-justify-content-center">
            <ion-input color="ligth" [(ngModel)]="usuario.user" id="user" name="user" label="Nombre de usuario" label-placement="floating" fill="outline" placeholder="Ingrese un nombre de usuario"></ion-input>
          </ion-row>
          
          <ion-row id="row7" class="ion-justify-content-center">
            <ion-input color="ligth" [(ngModel)]="usuario.pass" id="pass" name="pass" label="Contraseña" type="password" label-placement="floating" fill="outline" placeholder="Ingrese una contraseña"></ion-input>
          </ion-row>

          <ion-row id="row7" class="ion-justify-content-center">
            <ion-button (click)="tomarSelfie()" expand="block">Tomar Selfie</ion-button>
            <ion-img [src]="usuario.foto" *ngIf="usuario.foto"></ion-img>
          </ion-row>
        
        </div>
        
        <ion-row id="row8" class="ion-justify-content-between">
          <ion-col size="auto">
            <ion-button (click)="previousStep()" fill="solid" expand="block" shape="round" *ngIf="currentStep > 1">Anterior</ion-button>
          </ion-col>
          <ion-col size="auto">
            <ion-button (click)="nextStep()" fill="solid" expand="block" shape="round" *ngIf="currentStep < 3">Siguiente</ion-button>
            <ion-button *ngIf="currentStep === 3" fill="solid" shape="round" type="submit">Registrarse</ion-button>
          </ion-col>
        </ion-row>

        <ion-row id="row8" class="ion-justify-content-center">
          <ion-col size="9" class="ion-align-items-center">
            <ion-button color="danger" routerLink="/home" fill="solid" expand="block" shape="round">Cancelar</ion-button>
          </ion-col>
        </ion-row>
      
      </form>   
    
    </ion-col>
  </ion-row>
</ion-content>
