#backgroundImage{
    position: fixed;
    height: 100%;
    width: 100%;
}

#row1{
    padding-top: 15%;
    padding-bottom: 15%;
}

#row3{
    padding-top: 3%;
}

#row4{
    padding-top: 3%;
}

#row5{
    padding-top: 3%;
}

#row6{
    padding-top: 3%;
}

#row7{
    padding-top: 3%;
}

#row8{
    padding-top: 3%;
}
