#backgroundImage{
    position: fixed;
    height: 100%;
    width: 100%;
  }

#row{
    height: 100vh;
}

#row1{
    padding-top: 40%;
    padding-bottom: 40%;
}

#rowPass{
    padding-top: 5%;
    padding-bottom: 5%;
}

#restablecerPass{
    padding-top: 5%;
}