<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <img id="backgroundImage" src="../../assets/imagenes/Sprinkle (2).svg" alt="">
  
  <ion-row id="row" class="ion-justify-content-center">
    <ion-col size="9" class="ion-align-items-center">
      <ion-row class="ion-justify-content-center">
        <h1 class="ion-text-center">¡Bienvenido!</h1>
      </ion-row>
      <ion-row id="row1" class="ion-justify-content-center">
        <ion-img class="ion-justify-content-center" id="duocLogo" src="../../assets/imagenes/duoc.png" alt=""></ion-img>        
      </ion-row>
      <ion-row id="row2" class="ion-justify-content-center">
        <ion-col size="9" class="ion-align-items-center">
          <ion-button routerLink="/login" fill="solid" expand="block" shape="round">Ingresar</ion-button>
          <br>
          <ion-button routerLink="/registro" fill="solid" expand="block" shape="round">Registrarse</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  
</ion-content>
